@import "tailwindcss";

:root {
  --background: #474747;
  --foreground: #F2AF29;
  --tw-bg-opacity: 1;
  --font-roboto: 'Roboto', sans-serif;

  --potential-primary: #474747;
  --potential-secondary: #F2AF29;
  --potential-tertiary: #ad343e;
  --potential-optional: #2B50AA;
}

/*
  Light Gray: #474747
  Slighty Darker Gray: #272727;
  Yellows: #F2AF29
  Other: #2B50AA #ad343e
*/


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto), sans-serif;
}

.trimmed-container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 2rem;
    padding-left: 2rem
}

@media (min-width: 1400px) {
    .trimmed-container {
        max-width:1400px
    }
}