@import "tailwindcss";

@theme {
  --color-pp-black: #0A0A0A;
  --color-pp-yellow: #ffbe42;
  --color-pp-blue: #2B50AA;
  --color-pp-grey: #474747;
  --color-pp-five: #ffbe42;
  --color-pp-six: #0A0A0A;

}
.color-viewer {
  --test1: #212121;
  --test2: #F7C96E;
  --test3: #ad343e;
  --test4: #474747;
  --test5: #F2AF29;
  --test6: #0A0A0A;
  --test7: #ffbe42; /* EMOJI HAND COLOR */
  --test8: #272727;
  --test9: #0D0D0D;
  --test10: #2B50AA;
  --test11: #707070;

}

:root {
  --tw-bg-opacity: 1;
  --font-roboto: 'Roboto', sans-serif;
}

body {
  color: #FFFFFF;
  font-family: var(--font-roboto), sans-serif;
}

.trimmed-container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 2rem;
    padding-left: 2rem
}

@media (min-width: 1400px) {
    .trimmed-container {
        max-width:1400px
    }
}