@import "tailwindcss";

/* TODO: MAKE COLORS DEFAULT HERE */
:root {
  --background: #ededed;
  --foreground: #0a0a0a;
}

/* TODO: MAKE FONT ROBOTO? */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* TODO: CHANGE THESE COLORS FOR DARKMODE*/
    --background: #3a6836;
    --foreground: #ededed;
  }
}

/* TODO: MAKE THIS TEXT ROBOTO */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Georgia, 'Times New Roman', Times, serif;
}
